
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
.idea/attendance-temp.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
models/EigenFace.xml
